.example-card {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  margin-bottom: 12px;
}

.blue-button {
  background-color: #4681f4;
  color: white;
}

.green-button {
  background-color: #33b249;
  color: white;
}

.loader {
  position: absolute;
  right: 10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4681f4;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

p {
  height: 8rem;
}

.img-container {
  overflow: hidden;
  margin: 0;
}

img {
  height: 200px;
  object-fit: cover;
  filter: saturate(85%);
  transition: filter .5s, transform .5s;
}

img:hover {
  transform: scale(1.1);
  filter: saturate(115%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
